.todo-input {
  flex: 1;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #eee;
  outline: none;
}

.todo-input:last-child(last-child) {
  margin-block-end: 8px;
}

.todo-remove-btn {
  transition: color 0.3s ease;
}

.todo-remove-btn:hover {
  color: #ea4335;
}