.title-input,
.txt-input {
  padding: 8px;
  margin-bottom: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%;
  
}

.txt-input {
  resize: none;
}
