.mail-list {
    /* display: grid; */
    position: relative;
    border-radius: 16px;
    grid-column: 2;
    grid-row: 2;
}

/* .mail-list .mails-container {
    border: .2px solid black;
} */

.mail-list .mail-list-actions {
    height: 48px;
    border-radius: 16px;
}