






















/* .add-note {
  display: flex;
  justify-content: center;
  padding: 32px;
}

.add-note-actions {
  width: 600px;
  max-height: 646px;
}

.add-note input[name="title"] {
  width: 92%;
  height: 46px;
  background-color: #202124;
  color: #e8eaed;
  text-indent: 16px;
  border: 0;
  border-radius: 50px;

}

.add-note textarea {
  /* width: 100%; */
  padding: 0 24px;
  resize: none;

  width: 92%;
  height: 46px;
  background-color: #202124;
  color: #e8eaed;
  border: 0;
  border-radius: 50px;

  outline: none;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
} */