header {
    background: var(--main-clr);
    max-height: 64px;
    /* padding: 24px; */
}

.note-header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

nav a {
    margin: .5em;
}

nav a:first-of-type {
    margin-block-start: 0;
}
/* #root > header.app-header.full > div.center > input[type=search] */



.btn-search {
    width: 48px;
    height: 48px;
    /* padding: 6px; */
}

.btn-filter {
    width: 56px;
    height: 46px;
    /* padding: 0 5px; */
}


/* nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
} */