.color-picker {
  position: absolute;
  display: flex;
  left: -60px;
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 1px 1px 7px 1px rgb(0 0 0 / 19%);
}

.color-picker * {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  outline: 1px solid var(--grey-outline);
}

.color-picker *:hover {
  outline: 2px solid black;
}

.color-picker *:not(:last-child) {
  margin-inline-end: 5px;
}

/* Tablet */
@media (width >= 768px) {
  .color-picker * {
    width: 30px;
    height: 30px;
  }

  .color-picker {
    left: -20px;
  }
}

/* desktop */
@media (width >= 992px) {
}