header {
    background: var(--main-clr);
    max-height: 64px;
}

.note-header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

nav a {
    margin: .5em;
}

nav a:first-of-type {
    margin-block-start: 0;
}

.btn-search {
    width: 48px;
    height: 48px;
}

.btn-filter {
    width: 56px;
    height: 46px;
}
