.note-header {
  background-color: white;
  border-bottom: 1px solid #eee;
}

.header-logo {
  padding-left: 4px;
}

.header-logo button {
  margin-right: 16px;
}

.header-actions button i,
.header-logo button i {
  font-size: 20px;
}