.note-edit-prev-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000066;
  z-index: 1000;
}

.note-edit {
  position: relative;
  width: fit-content;
  min-width: 400px;
  height: fit-content;
  padding: 1rem;


  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.note-edit .title-input:focus,
.note-edit .txt-input:focus-visible {
  outline: none;
}

.note-edit .title-input,
.note-edit .txt-input {
  width: 100%;
  padding: 1rem;
  font-size: clamp(1em, 2vw + 0.3em, 1.6em);
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 7px;
  margin-bottom: 10px;
}

.note-edit img {
  max-height: 200px;
  width: auto;
  border-radius: 7px;
  margin-bottom: 10px;
}

.note-edit .todo-wrapper {
  width: 100%;
}

.note-edit .todo-wrapper .todo-input {
  width: calc(100% - 2em);
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block;
}

.note-edit .todo-wrapper .todo-remove-btn {
  cursor: pointer;
  border-radius: 50%;
  border: none;
  padding: 0.4em;
  background-color: #f8f9fa;
  margin-left: 0.5em;
}

.note-edit .todo-wrapper .todo-remove-btn:hover {
  background-color: #eee;
}

.note-edit .add-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.note-edit .color-palette {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.video-input-wrapper input {
  margin-top: 8px;
  width: 522px;
}