/* NoteList.css */

.note-list-section {
  margin-top: 16px;
  column-gap: 16px;
  column-fill: balance;
  column-width: 300px;
}

.note-list > li {
  background-color: #fff;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.note-list > li:hover {
  transform: scale(1.03);
}

.note-list-section ul {
  margin-top: 0;
  list-style: none;
  padding: 0;
}
