.note-preview {
  min-height: 130px;
  /* max-width: 300px; */
  position: relative;
  break-inside: avoid;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  margin-bottom: 16px;
  padding: 16px;
}

.note-preview p {
  font-size: 1rem;
  word-wrap: break-word;
  color: #202124c8;
}

.note-preview h2 {
  padding-bottom: 12px;
  color: #202124;
  letter-spacing: .00625em;
  font-size: 1.125rem;
  font-weight: 550;
  line-height: 1.5rem;
  word-wrap: break-word;
}

.note-preview, .note-list > li {
  box-sizing: border-box;
}

.note-preview span.done {
  text-decoration: line-through;
}

.note-preview .color-palette {
  position: absolute;
  z-index: 555555;
  translate: 100% -5%;
}

.note-preview iframe {
  width: 100%;
}
