

.note-aside-tool-bar {
    grid-column: 1;
    grid-row: 1 / 4;

    display: grid;
    grid-template-rows: auto 1fr;
    align-items: start;

    padding-inline-start: 10px;
    width: 72px;

    position: sticky;
    top: 64px;
    left: 0;
    height: 100%;
    z-index: 10;
    background: var(--main-clr);
}

.note-aside-tool-bar button {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.note-aside-tool-bar button:hover {
    height: 2rem;
}

.note-aside-tool-bar .btn-bars {
    padding-bottom: 8px;
}