.note-preview {
  position: relative;
  list-style: none;
  break-inside: avoid;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  transition: box-shadow 0.3s ease;
  margin-bottom: 8px;

}

.note-preview:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* background-color: #f8f9fa; */
}

.note-preview .preview-btns {
  display: flex;
  gap: 0.5em;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.note-preview:hover .preview-btns {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: rgb(66, 64, 64);
  opacity: 1;
}

.note-preview button:not(.color-palette) {
  height: 30px;
  width: 30px;
  color: white;
  /* background-color: #fff; */
  border: none;
  border-radius: 50%;
  color: #5f6368; /* Adjusted button color */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.note-preview button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  /* background-color: #e8e8e9; */
}




.note-preview span.todo {
  font-weight: 600;
}

.note-preview span.done {
  text-decoration: line-through;
}

.note-preview .color-palette {
  translate: -10% -5%;
}
