.note-list {
  column-count: 4;
  column-width: 250px;
  column-gap: 5px;
  margin-block-end: 10px;
}

.note-list-item {
  color: black;
  position: relative;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #3a3a3a29;
  break-inside: avoid;
  margin-block-end: 5px;
  padding-block-end: 40px;
  cursor: auto;
}