.note-aside-tool-bar {
	z-index: 10;
	background: white;
    transition: width 0.3s ease;
    padding: 16px;
}

.note-aside-tool-bar span {
    display: none;
}

.note-aside-tool-bar button {
	font-size: 1.125rem;
	height: 3rem;
	width: 3rem;
	cursor: pointer;
    border-radius: 1000px;

}

.active-btn {
    background-color: #FEEFC3;
}

.note-aside-tool-bar:hover {
    width: 280px;
}

.note-aside-tool-bar:hover button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center;
    /* justify-content: first baseline; */
    width: 280px;
    height: 48px;
    /* padding-left: 12px; */
    /* width: 100%; */
    /* padding: 0 64px; */
}

.note-aside-tool-bar:hover span {
    display: flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 20px;
}

.note-aside-tool-bar:hover button i {
    margin-left: 27px;
}

.note-aside-tool-bar:hover button:hover{

    background-color: #F1F3F4;

}

/* .note-aside-tool-bar:hover .main-note-container {
    grid-template-columns: 280px 1fr 54px;
    grid-auto-flow: row;
} */