.note-preview .preview-btns {
	margin-top: 8px;
	display: flex;
  border-radius: 50px;
	gap: 0.5em;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.note-preview:hover .preview-btns {
	opacity: 1;
}

.btn-save {
	width: 80px;
}
