.note-index {
	display: grid;
	height: 100dvh;
	grid-template-columns: 72px 1fr;
	grid-template-rows: auto 1fr;
}

.note-index .note-header {
	grid-column: 1 / -1;
	justify-content: space-between;
	padding: 16px;
}

.main-note-container {
	display: grid;
	grid-template-columns: 72px 1fr 54px;
	grid-template-rows: auto 1fr;
  width: 100dvw;
	height: 100dvh;
  grid-auto-flow: column;

}

.note-aside-tool-bar {
  grid-column: 1;
  grid-row: 1 / 4;
}

.note-add-section {
  grid-column: 2;
  grid-row: 2;
}
